<!doctype html>
<html lang="{{ lang }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        {% if title %}
        <title>Risk meter - {{ title }}</title>
        {% else %}
        <title>Risk meter</title>
        {% endif %}
    </head>
    <body>
        <!-- Language Switcher Button -->
        <button class="lang-switcher" id="langSwitch">
            {{ '🇬🇧 English' if lang == 'es' else '🇪🇸 Español' }}
        </button>

        <!-- Top banner -->
        <div class="top-banner">
            <img src="{{ url_for('static', filename='images/incibe/top-banner.jpg') }}" alt="Top Banner">
        </div>

        <main id="main-div">
            {% block content %}{% endblock %}
        </main>

        <!-- Spacer to push the bottom banner -->
        <div class="spacer"></div>

        <!-- Bottom banner -->
        <div class="bottom-banner">
            <img src="{{ url_for('static', filename='images/incibe/bottom-banner.jpg') }}" alt="Bottom Banner">
        </div>

        <script>
            document.getElementById("langSwitch").addEventListener("click", function () {
                const urlParams = new URLSearchParams(window.location.search);
                const currentLang = urlParams.get("lang") || "en";
                const newLang = currentLang === "en" ? "es" : "en";

                urlParams.set("lang", newLang);
                window.location.search = urlParams.toString();
            });
        </script>
    </body>
</html>
