{% extends 'base.html' %}

{% block content %}
<h1>{{ texts['title'] }}</h1>

<div class="research-info">
    <p>
        {{ texts['research_info'] | safe }}
    </p>
</div>

<div class="container">
    <!-- Search bar at the top of the container -->
    <div class="search-bar">
        <input type="text" placeholder="{{ texts['search_service'] }}" id="searchInput">
        <div id="suggestions" class="suggestions-list"></div>
    </div>

    <!-- Two-column setup -->
    <div class="row">
        <div class="column">
            <div class="card service-card" id="serviceCard">
                <h2 id="service-title">{{ texts['service'] }}</h2>
                <div id="details">
                    <p>{{ texts['select_service'] }}</p>

                    <p id="risk-data-exp">
                        <strong>{{ texts['risk_of_data_exposure'] }}</strong>  
                        <span class="tooltip-icon" data-tooltip="{{ texts['tooltip_risk_of_data_exposure'] }}">?</span>
                    </p>

                    <p id="user-login-protection">
                        <strong>{{ texts['user_login_protection'] }}</strong>  
                        <span class="tooltip-icon" data-tooltip="{{ texts['tooltip_user_login_protection'] }}">?</span>
                    </p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card user-card" id="userCard">
                <h2>
                    {{ texts['user_choices'] }}  
                    <span class="tooltip-icon" data-tooltip="{{ texts['tooltip_user_choices'] }}">?</span>
                </h2>

                <label for="password">{{ texts['enter_password'] }}</label>
                <input type="text" id="password" placeholder="{{ texts['enter_password_placeholder'] }}">
                <p id="passwordCompositionReq"></p>
                <p id="passwordScore"></p>

                <label for="reuses">{{ texts['chosen_password_uses'] }}</label>
                <select id="reuses">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="10">{{ texts['more_than_3'] }}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Risk Indicators -->
        <div class="column">
            <div class="card risk-indicators">
                <h2>{{ texts['risk_indicators'] }}</h2>
                <div class="indicator-item">
                    <span>{{ texts['risk_of_data_exposure'] }}</span>
                    <div class="indicator" id="riskOfDataExposureIndicator"></div>
                </div>
                <div class="indicator-item">
                    <span>{{ texts['user_login_protection'] }}</span>
                    <div class="indicator" id="serviceRiskIndicator"></div>                       
                </div>
                <div class="indicator-item">
                    <span>{{ texts['user_choices'] }}</span>
                    <div class="indicator" id="userRiskIndicator"></div>
                </div>
            </div>
        </div>

        <!-- Global Risk -->
        <div class="column">
            <div class="card global-risk">
                <h3>{{ texts['global_risk'] }}</h3>
                <div class="global-risk-container">
                    <div class="global-risk-bar">
                        <div class="risk-fill" id="globalRiskBar"></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Risk Indicator Legend -->
        <div class="column">
            <div class="card legend">
                <h2>{{ texts['risk_legend'] }}</h2>
                <div class="legend-item">
                    <span class="legend-circle" style="background-color: green;"></span> {{ texts['legend_very_small'] }}
                </div>
                <div class="legend-item">
                    <span class="legend-circle" style="background-color: yellow;"></span> {{ texts['legend_small'] }}
                </div>
                <div class="legend-item">
                    <span class="legend-circle" style="background-color: orange;"></span> {{ texts['legend_big'] }}
                </div>
                <div class="legend-item">
                    <span class="legend-circle" style="background-color: red;"></span> {{ texts['legend_very_big'] }}
                </div>
            </div>
        </div>
    </div>

    <!-- Privacy Notice -->
    <div class="data-privacy-notice">
        <p>
            {{ texts['data_privacy_notice'] }}
        </p>
    </div>
</div>

<script src="{{ url_for('static', filename='js/zxcvbn.js') }}"></script>
<script src="{{ url_for('static', filename='js/passwordStrengthChecker.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="{{ url_for('static', filename='js/riskCalculation.js') }}"></script>

{% endblock %}
